<div class="header clearfix">
  <div class="info pull-left">
    <h3 class="title">{{ title }}</h3>
    <p class="text-left text-info summary">
      <small>
        {{ '공강 ' + nFreeHours + '시간' }} /
        {{ '총 ' + totalScore + '학점' }} /
        {{ '주 ' + nClassDays + '회 수업' }}
      </small>
    </p>
  </div>
  <div class="pull-right">
    <button class="btn" type="button">4</button>
    <button class="btn" type="button">3</button>
    <button class="btn" type="button">2</button>
    <button class="btn" type="button">1</button>
  </div>
</div>
<div scrollbar class="body">
  <div class="wrapper">
    <div class="timetable">
      <timetable classes="timetable.classes" excluded-periods="timetable.excludedPeriods"></timetable>
    </div>
    <div class="classes">
      <table class="table">
        <tr ng-repeat="c in timetable.classes" class="class">
          <td width="50px"><i class="ball"></i></td>
          <td width="70px">{{c.class_no}}</td>
          <td width="360px">{{c.title}}</td>
          <td width="80px">{{c.instructor}}</td>
          <td width="90px">{{c.course_no}}</td>
          <td width="80px">{{c.score | number: 2}}</td>
          <td width="80px">{{c.grade}}학년</td>
          <td width="160px">{{c.major}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
