<div class="home">
  <div class="express-yourself"></div>
  <div class="sign">
    <div class="signin">
      <div class="facebook" ng-controller="SigninFacebookCtrl">
        <button type="button" ng-click="signInFacebook()" class="btn">Facebook으로 로그인</button>
        <div modal="isModalOpen" close="closeModal()" options="opts">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" ng-click="closeModal()">&times;</button>
            <h3>Facebook으로 로그인</h3>
          </div>
          <div class="facebook modal-body">
            <iframe src="{{urlForLoginDialog}}" frameborder="0" class="frame"></iframe>
          </div>
        </div>
      </div>
      <span>혹은</span>
      <div class="dash">
        <form ng-controller="SigninCtrl" name="signin_form" ng-submit="signInDash()">
          <fieldset>
            <legend>Dash 계정으로 로그인</legend>
            <label for="email">이메일</label>
            <input type="email" ng-model="email" id="email" required>
            <label for="password">암호</label>
            <input type="password" ng-model="password" id="password" required>
            <button type="submit" class="btn">로그인</button>
            <a href="#" ng-click="findPassword()">암호를 잊으셨나요?</a>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="signup">
      <button type="button" class="btn btn-large btn-block" ng-click="signUp()"><i class="icon-pencil"></i>회원 가입</button>
    </div>
  </div>
</div>
