<form class="timetable_detail" name="timetable_detail" ng-controller="TTviewCtrl">
  <div class="title">
    <h1>
      <span>{{ title }}</span>
      <button class="btn pull-right" type="button">4</button>
      <button class="btn pull-right" type="button">3</button>
      <button class="btn pull-right" type="button">2</button>
      <button class="btn pull-right" type="button">1</button>
    </h1>
  </div>
  <div class="info" style="text-align: cetner;">
    <h4>
    <span class="text">{{ '공강 : '+freetime+'시간' }}</span>
    <span>/</span>
    <span class="text">{{ '총 : '+total+'학점' }}</span>
    <span>/</span>
    <span class="text">{{ '주 : '+classday+'회 수업' }}</span>
    </h4>
  </div>
  <div class="timetable">
    <timetable display="timetable.display" classes="timetable.classes" excluded-periods="timetable.excludedPeriods"></timetable>
  </div>
<!--색/강좌코드/강좌명/강사이름/학수번호/학점/학년/타입-->
  <table class="detail_table">
    <tr ng-repeat="tt in timetable.classes" ng-class="timetable">
      <th width="50px">색</th>
      <th width="70px">{{tt.class_no}}</th>
      <th width="360px">{{tt.title}}</th>
      <th width="80px">{{tt.instructor}}</th>
      <th width="90px">{{tt.course_no}}</th>
      <th width="80px">{{tt.score}}학점</th>
      <th width="80px">{{tt.grade}}</th>
      <th width="160px">{{tt.major}}</th>
    </tr>
  </table>
</form>
